.groups--card--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.groups--card {
  background: var(--primary-dark-color);
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}
.groups--card:hover {
  background: var(--primary-light-color);
  color: var(--text-light-color);
}
.groups--card--selected {
  outline: 1px solid white;
}
