.taskedit--create {
  border: 1px solid var(--text-color);
  border-radius: 0.2rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.dark--homepage--container .taskedit--create {
  border: 1px solid var(--text-light-color);
}
.taskedit--title {
  position: absolute;
  top: -0.8rem;
  left: 0rem;
}
.taskedit--title h3 {
  padding: 0 0.5rem;
  text-align: center;
  background: var(--secondary-dark-color);
}
.dark--homepage--container .taskedit--title h3 {
  background: var(--secondary-light-color);
}

.taskedit--body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1.5rem;
}

.task--title--input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-color);
  padding: 0.3rem;
  font-size: 1rem;
  width: 100%;
  background: none;
}

.dark--homepage--container .task--title--input {
  border-bottom: 1px solid var(--text-light-color);
}
.taskedit--body--submit {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background: var(--secondary-dark-color);
  border: none;
  width: 90%;
}
.dark--homepage--container .taskedit--body--submit{
  background: var(--secondary-light-color);
}
.taskedit--body--submit:hover {
  position: relative;
  bottom: 0.2rem;
}
.tasktodelete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  .taskedit--body {
    padding: 2.5rem 1rem;
  }
}
