.ongointasks--container {
  margin-top: 1rem;
  background: var(--secondary-dark-color);
  padding: 0.5rem 0.5rem 0.8rem 0;
  border-radius: 0.8rem;
}
.dark--homepage--container .ongointasks--container {
  background: var(--secondary-light-color);
}
.ongointasks--container h4 {
  color: #939395;
  padding: 0.5rem;
}
.ongointasks--title {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.top--task--container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

