.edit--container {
  background: #1f1e26;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.edit--page {
  padding: 0.8rem;  
}
.edit--container::-webkit-scrollbar {
  display: none;
}
