.edit--container {
  background: var(--secondary-dark-color);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.dark--homepage--container .edit--container {
  background: var(--secondary-light-color);
}

.edit--page {
  padding: 0.8rem;
}
.edit--container::-webkit-scrollbar {
  display: none;
}
