.editnavbar--container {
  display: flex;
  justify-content: space-around;
  background: var(--primary-dark-color);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.dark--homepage--container .editnavbar--container {
  background: var(--primary-light-color);
}
.EditNavBarEelemnt {
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 0.15rem;
  border-radius: 0 0 .6rem .6rem;
  text-decoration: none;
}
.active {
  background: var(--secondary-dark-color);
}
.dark--homepage--container .active {
  background: var(--secondary-light-color);
}
