.members--body {
  padding: 3rem 1.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.members--request {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
}
.istop--members--request {
  border-top: 1px solid #3d3b4a;
}
.members--request--buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.members--request--button,.request--loading {
  margin: 0.5rem 0;
  width: 3rem;
  background: none;
  border: none;
  position: relative;
}

.members--request--button::after {
  content: "";
  width: 0;
  height: 1px;
  background: white;
  position: absolute;
  bottom: -.2rem;
  left: 0;
  transition: width 0.3s;
}
.dark--sub--main--container .members--request--button::after {
  background: black;

}
.request--loading::after{
  content: "";
  height: 1px;
  background: white;
  position: absolute;
  bottom: -.2rem;
  left: 0;
  width: 50%;
}
.dark--sub--main--container .request--loading::after{ 
  background: black;
}
.request--loading:hover::after {
  width: 50%;
}
.members--request--button:hover::after {
  width: 100%;
}

@media (max-width:700px){
  .members--request--buttons {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
  .members--request{
    flex-direction: column;
    gap: .5rem;
  }
  
}