.sidebar--container {
  margin-top: 1rem;
  width: 25rem;
  overflow: scroll;
}
.sidebar--container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 700px) {
  .sidebar--container {
    margin-top: 0;
    width: 100%;
    padding: 0.8rem;
  }
}
