.WelcomeNav--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  height: 10rem;
}

.line {
  height: 150%;
  width: 2px;
  background: white;
}
.WelcomeNav--signup--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.User--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.1rem;
  padding: 1rem;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.633);
  border-radius: 0.4rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.User--container:hover {
  transform: translateY(-5px);
}

.icons {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .WelcomeNav--container {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .WelcomeNav--signup--container {
    gap: 0.5rem;
  }
  .User--container {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .icons {
    font-size: 1rem;
  }
  .line {
    height: 2px;
    width: 110%;
  }
}
