.module--container {
  padding: 1rem;
  overflow: scroll;
  height: 100%;
}
.module--container::-webkit-scrollbar{
  display: none;
}

.cours{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cours >*{
  cursor: pointer;
}