.sub--main--container {
  background: #1f1e26;
  border-radius: 0.8rem;
  flex: 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sub--main--title {
  padding: 0.5rem;
  text-align: center;
}
.classes--container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  overflow: scroll;
}
.classes--container::-webkit-scrollbar {
  display: none;
}
@media (max-width:700px){
  .classes--container {
  grid-template-columns: repeat(2, 1fr);
}
}